<h1><%= @article[:title] %></h1>


<%= link_to "✎", edit_article_path(@article) %>
<%= link_to "🗑", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>

<p><%= @article[:content] %></p>
<%= link_to 'Back', articles_path  %>
